@***** The inputs *****@
@(title: String)(description: String)(content: Html)

@************************
 * The view's specifics *
 ***********************@

@navbar = {
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@routes.Application.index"><img src="@routes.Assets.at("img/logo-dcid.png")" width="65px" height="auto" alt="DCID" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="user"><a href="@routes.Application.login"><button class="btn btn-success btn-xs">Log in</button></a></li>
                </ul>
            </div>
        </div>
    </div>
}

@***** Finally render the view *****@
@base(title)(description)(navbar)(content)
