@(proposals: List[Proposal], users: List[User])

@main("DCID") {
    
    <h1>propose . discuss . decide</h1>
    <p><a class="btn btn-default" href="#">enter</a></p>
    
    <h2>Users</h2>
    <ul>
        @for(user <- users) {
            <li>Name: @user.getName() | Email: @user.email</li>
        }
    </ul>
    
    <h2>Proposals</h2>
    <ul>
        @for(prop <- proposals) {
            <li><strong>@prop.title</strong> (+@prop.upvotes/-@prop.downvotes) <em>by @prop.proposer.getName()</em></li>
        }
    </ul>
    
}
