@(form: Form[Application.Login])

@main("DCID - Login") {

    @helper.form(routes.Application.authenticate) {
        <h1>Sign in</h1>
        <p><input type="email" name="email" placeholder="Your email" value="@form("email").value"></p>
        <p><input type="password" name="password" placeholder="Your password"></p>
        @if(form.hasGlobalErrors) {
            <p class="text-danger">@form.globalError.message</p>
        }
        @if(flash.contains("successMsg")) {
            <p class="text-success">@flash.get("successMsg")</p>
        }
        <p><button class="btn btn-default" type="submit">Log in</button></p>
    }
    
}
