@***** The inputs *****@
@(loggedInUser: User)(proposals: List[Proposal])

@************************
 * The view's specifics *
 ************************@

@content = {
    <div class="row">
        <div class="col-md-12">
            <h1>Proposals</h1>        
            @for(p <- proposals) {
                <hr/>
                <div class="row">
                    <div class="col-xs-3 text-center hidden-xs"> <!-- desktop res -->
                        <br/><!-- TODO vertical align the right way -->
                        <div class="btn-group btn-group">
                            <button type="button" class="btn btn-success"><i class="icon-thumbs-up"></i></button>
                            <button type="button" class="btn btn-default" disabled="disabled"><strong>@p.getScore()</strong></button>
                            <button type="button" class="btn btn-danger"><i class="icon-thumbs-down"></i></button>
                        </div>
                    </div> <!-- end of desktop res -->
                    <div class="col-xs-3 text-center visible-xs"> <!-- mobile res -->
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-success btn-sm"><i class="icon-thumbs-up"></i></button>
                            <button type="button" class="btn btn-default" disabled="disabled"><strong>@p.getScore()</strong></button>
                            <button type="button" class="btn btn-danger btn-sm"><i class="icon-thumbs-down"></i></button>
                        </div>
                    </div> <!-- end of mobile res -->
                    <div class="col-xs-9">
                        <h3><a href="@routes.Application.proposalDetail(p.getId())"><strong>@p.getTitle()</strong></a></h3>
                        <p>
                            by <a href="#">@p.getProposer().getName()</a>, in @p.getTimestamp("d MMMMM")&nbsp;
                            <a class="label label-default" href="#">@p.getTag()</a>
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
}

@***** Finally render the view *****@
@baseApp("Proposals")("List of all existing proposals.")(loggedInUser)(content)
