@***** The inputs *****@
@(loggedInUser: User)(proposals: List[Proposal])

@************************
 * The view's specifics *
 ************************@

@content = {
    <div class="span12">
        <h1>Proposals</h1>        
        <ul>
            @for(prop <- proposals) {
                <li><a href="@routes.Application.proposalDetail(prop.getId())">@prop.getTitle()</a> (@prop.getScore()) <em>by @prop.getProposer().getName()</em></li>
            }
        </ul>
    </div>
}

@***** Finally render the view *****@
@baseApp("Proposals")("List of all existing proposals.")(loggedInUser)(content)
