@***** The inputs *****@
@(loggedInUser: User)(proposal: Proposal)

@************************
 * The view's specifics *
 ***********************@

@content = {
    <div class="row">
        <div class="col-sm-9">
            <h1>@proposal.getTitle()</h1>
            <p class="lead">@proposal.getProblem()</p>        
            <h3><i class="icon-caret-right"></i>&nbsp;Solution</h3>
            <p>@proposal.getSolution()</p>
            <h3><i class="icon-caret-right"></i>&nbsp;Benefits</h3>
            <p>@proposal.getBenefits()</p>
            <div class="visible-xs"><br/></div> <!-- separates this part from voting buttons bellow -->
        </div>
        <div class="col-sm-3">
            <div class="hidden-xs"><br/><br/></div> <!-- avoids overlap with navbar -->
            <p>Votes:
                <a class="btn btn-success btn-sm" id="" title="I agree with this proposal."
                    href="#"><b><i class="icon-thumbs-up"></i>&nbsp;@proposal.getUpvotes()</b></a>
                &nbsp;
                <a class="btn btn-danger btn-sm" id="" title="I disagree with this proposal."
                    href="#"><b><i class="icon-thumbs-down"></i>&nbsp;@proposal.getUpvotes()</b></a>
            </p>
            <p align="left">Tags: <a class="label label-default" href="#">Civic Participation</a>&nbsp;<a class="label label-default" href="#">Environment</a></p>
            <p>Viewed: <b>@proposal.getViews() times</b></p>
            <p>Since: <b>@proposal.getTimestamp("d MMMMM yyyy")</b></p>
            <p>Proposer: <b>@proposal.getProposer().getName()</b></p>
        </div>
    </div>
}

@***** Finally render the view *****@
@baseApp("Proposal")("Proposal's problem")(loggedInUser)(content)