@***** The inputs *****@
@(loggedInUser: User)

@************************
 * The view's specifics *
 ************************@

@content = {
    <div class="row">
        <div class="col-md-12">
            <h1>@loggedInUser.getName()</h1>
            <p><strong>Email:</strong> @loggedInUser.getEmail()</p>
            <p><strong>Password:</strong> ???</p>
            <h3>Settings</h3>
            <p>Public name: Yes/No</p>
        </div>
    </div>
}

@***** Finally render the view *****@
@baseApp("My account")("")(loggedInUser)(content)