@***** The inputs *****@
@(loggedInUser: User)

@************************
 * The view's specifics *
 ************************@

@content = {
    <div class="row">
        <div class="col-md-12">
            <h1>@loggedInUser.getName()</h1>
            <p><strong>E-mail</strong>: @loggedInUser.getEmail()&nbsp;<a href="#"><button class="btn btn-xs">Edit</button></a></p>
            <p><strong>Password</strong>: ******** <a href="#"><button class="btn btn-xs">Edit</button></a></p>
        </div>
    </div>
}

@***** Finally render the view *****@
@baseApp("My account")("")(loggedInUser)(content)